@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary: #2563EB;
   --text: #202D4180;
    --lightText: #202D4133;
    --belated: #C60202;
    --success: #00BD6F;
    --bg: #FFFFFF;

    --font: "Inter"

}